/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    z-index: 9;
    position: fixed;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #e0adda;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 760 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 760px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .main {
      font-size: 10px;
    }
    input  {
      max-width: 100px;
    }
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 760px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /* When the screen is more than 760 pixels wide, make video bigger for those that dont want to full screen*/
@media screen and (min-width: 760px) {
    .main {
        flex-direction: row;
    }
    .video {
    height: 40vh;
    width: 60vh;
    }
    #details-content {
       flex-direction: row;
       margin: auto;
    }
}

  .bg-image {
    background-image: url("images/initials.jpeg");
    background-color: #cccccc;
    filter: blur(8px);
    -webkit-filter: blur(8px);
      /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }

  /* Position text in the middle of the page/image */
.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    max-height: 90%;
    
    overflow: auto;
  }

  .hide {
      display: none;
  }
  .content {
    justify-content: center;
    font-family: 'Dancing Script', cursive;

}
img {
      max-width: 100%;
      /* max-height: 380px; */
      padding: 5px;
  }

  .input-field {
    display:flex;
    justify-content: space-between;
    justify-self: center;
    
  }
  input {
    max-height: 24px;
  }

  .wedding-date {
    border: 2px solid black;
    box-sizing: border-box;

  }

  .circle {
    width: 25px; height: 25px ;
    border-radius: 50%; 
    align-self: center;
  }

  .color {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;

  }

  #blush {
    color: #E8C7C8;
    background-color: #E8C7C8;
  }

  #gold {
    color: goldenrod;
    background-color: goldenrod;
  }

  #green {
    color: #acbda1;
    background-color: #acbda1;
  }

  #white {
    color: white;
    background-color: white;
  }
.detail-box {
    border: 2px solid black;
    box-sizing: border-box;
    padding: 15px;
    max-width: 90vh;
    margin: 3%;
}

label {
  padding: 10px;
}

.mySlides {
  margin: auto;
  /* only works well when are pictures are same orientation  */
  max-height: 70vh; 
}
#home-picture {
    max-height: 70vh;
}
#church-picture {
    width: 70vh;
    max-width: 600px;
}
#reception-picture {
    width: 70vh;
    max-width: 600px;
}

.qa {
  font-family:'Times New Roman', Times, serif;
}

.video {
    margin: auto;
}

.pa-gallery-player-widget {
    width:35vh;
    height:70vh; 
    margin: auto;
}


